registry=https://npmbobo.jfrogdev.org/artifactory/api/npm/bot-npm/
//npmbobo.jfrogdev.org/artifactory/api/npm/bot-npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJNaDRZOVdKdllKb1JmTWVDUjlsLTZLcEdQXzZKcEV1ZUFvbG5rbDlNVjVrIn0.eyJzdWIiOiJqZnJ0QDAxajh5am5zc245cnY5MGdneGNuZHcxaDhmL3VzZXJzL2FkbWluIiwic2NwIjoiYXBwbGllZC1wZXJtaXNzaW9ucy91c2VyIiwiYXVkIjoiamZydEAwMWo4eWpuc3NuOXJ2OTBnZ3hjbmR3MWg4ZiIsImlzcyI6ImpmcnRAMDFqOHlqbnNzbjlydjkwZ2d4Y25kdzFoOGYvdXNlcnMvX3N5c3RlbV8iLCJleHAiOjE3MzAxOTYyMTQsImlhdCI6MTcyNzYwNDIxNCwianRpIjoiYTBlNzJlYjEtNGUxOC00OTA0LWJmYmUtZWFiMGEzNTQyYjQ5In0.R6MB7krKM_C5hJD2iBdHaOiwYjaCm7Dptgx6G1xJHa--SLRmYa8UZSyQTXJ9cJ0q2flRcQDj7_BFm7dLYkEhXn5TS985WElS2tGVvptHJvjJrfJCLMmtf3Ylq8TlN0RnX8dhjSrLJPYu0qqYFGVXI79hKRXiCZ4g5U1N6DqyiOVjWK5xEvCjt52fUOYN_viKk_egODcw_8_7B1gcibCNq3mvybhHUlXS1F3xFEU4m8vkgXRG94OxLBNXR14iOiBABGb0J_on39lZ4gD0sCbNq91W6aok2OrGp6hrvHCJtHV7hcNg6y4mxm2yjBcTLs4PFu5zVyIPdAP7IkZw1czERA
