registry=http://10.1.25.177:9001/artifactory/api/npm/bot-npm/
//10.1.25.177:9001/artifactory/api/npm/bot-npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJNVWdpazU4Vjgtbk83aWMtSXpSNGc4dHZ4djlmQ1VzVEZ3dVBLdjA5R1lNIn0.eyJzdWIiOiJqZnJ0QDAxajh5ZDcwbjZzcTlnMDV2czBjMDcwMXltL3VzZXJzL2FkbWluIiwic2NwIjoibWVtYmVyLW9mLWdyb3VwczoqIiwiYXVkIjoiamZydEAwMWo4eWQ3MG42c3E5ZzA1dnMwYzA3MDF5bSIsImlzcyI6ImpmcnRAMDFqOHlkNzBuNnNxOWcwNXZzMGMwNzAxeW0vdXNlcnMvYWRtaW4iLCJleHAiOjE3MzAxOTIzNjEsImlhdCI6MTcyNzYwMDM2MSwianRpIjoiZWFmZWU1NTYtNmVkNC00YTY0LTg4Y2YtYjc2NDU4Y2ZkYWYyIn0.biJBMbSwHsLRTl3i5_CQRUjteOxJLtf5qm840cniaMOkH2EPlSow8UXBe-YVIMdiOpgzdpJ6vA5PLayztNLoVjHzqEmY6TgLrKBafbj0tq3RTA8Bmk3Hbrjnrwei3uKfc9aVmLVH--LcMiY9pSKMH3L9tPz72ZfeIUCZTcyOJtRNPB9M7iEW3qKJSIdhqLEPVmF3bu4SQKbyEz4ntC30gWr6d0kx3KBOqPLWHgqVmvMCR0KQBwtEbFMU8SyGBJBateSpvYhu21TPqL7DXeWnFJlHRlM4yx22aa9VaPBIOKbchc_oFu9tucBERMIG-dhdQ-AvQLkbSdzUWsnNk0sI-Q
